<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Dubai Police">
    <meta property="og:site_name" content="Dubai Police WhatsApp Reader"/>
    <meta property="og:title" content="Dubai Police WhatsApp Reader"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="{{ url_for('static', filename='img/Dubai_police_logo.png') }}"/>
    <meta property="og:description" content="WA Reader is a web-tool aimed to help users view their WhatsApp back-up chats in a familiar user-interface."/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"  crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/minEmoji2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}"  crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}"/>
    <title>Dubai Police WhatsApp Reader</title>
</head>
<body>
    <div id="element">
    <nav class="navbar sticky-top navbar-expand-lg navbar-inverse">
        <a class="navbar-brand nav-back" href="/"> <img src="{{ url_for('static', filename='img/Dubai_police_logo_green.png') }}" alt="logo" style="height: 90px; width:90px"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item nav-back" style="display:none;"><a class="nav-link"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> View another chat</a></li>
                <li class="download-link nav-item" style="display: none;"><a class="nav-link" style="margin-right: 10px;">Download JSON</a></li>
                <li class="from-cal nav-item" style="display: none;">
                    <span class="label from-label" name="from-label" id="from-label">Date from:</span>
                    <input type="datetime-local" name="from-cal" id="from-cal">
                </li>
                <li class="to-cal nav-item" style="display: none; position: relative; left: 10px;">
                    <span class="label to-label" name="to-label" id="to-label">Date to:</span>
                    <input type="datetime-local" name="to-cal" id="to-cal">
                </li>
                <li class="search-item nav-item" style="display: none; position:relative; left: 10px;">
                    <span class="label search-label" name="search-label" id="search-label">Search keyword:</span>
                    <input type="text" name="search-item" id="search-item">
                </li>
                <li class="submit-item nav-item" style="display: none; position:relative;"><input type="button" name="submit-item" id="submit-item" value="Apply Changes" onclick="makeChanges()"></li>
                <li class="options-checkbox nav-item" style="display:none; position: relative; top:8px;">
                    <span class="label options-label" name="options-label" id="options-label">Filter Options</span>
                    <input type="checkbox" name="options-checkbox" id="options-checkbox" value="Advanced Options">
                </li>
                <li class="nav-item dropdown" style="display: none; position: relative; left:10px;">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Participants</a>
                    <div class="dropdown-menu user-list" id="user-list">
                    </div>
                </li>
                <li class="nav-item show-selected" style="display: none; position: relative; left:10px;">
                    <input type="button" name="show-selected" id="show-selected" value="Only Show Selected Messages" onclick="showSelected()">
                </li>
                <li class="nav-item show-all" style="display: none; position: relative; left:10px;">
                    <input type="button" name="show-all" id="show-all" value="Show All Messages" onclick="showAll()">
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid intro-panels">
        <div class="row welcome-header">
            <img src="{{ url_for('static', filename='img/Dubai_police_logo.png') }}" style="height: 200px; width: auto;">
        </div>
        <hr>
        <div class="alert alert-danger" role="alert" id="error_message_box" style="display:none"></div>
        <div class="alert alert-success" role="alert">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <h4 class="text-center">
                        Welcome to <strong>Dubai Police WhatsApp Reader</strong>
                        </h4>
                        <hr>
                        <p class="text-center">
                            For the best possible performance, use <strong>Google Chrome.</strong><br/>

                            Usage steps:
                            <ol>
                                <li>Before exporting the data, make sure to turn the phone's system language to English:</li>
                                <ul>
                                    <li>For iOS devices: Settings > General > Language & Region > iPhone Language > English</li>
                                    <li>For Android devices: Settings > System > Languages & input > Languages > tap the + to add English</li>
                                </ul>
                                <li>Tap on the chat you would like to export, then tap on the name and select <strong>Export Chat</strong> and <strong>Attach Media</strong>. This will export a .zip file with the media and chat in it.</li> 
                                <li>Click on the <strong>Browse</strong> button and navigate to the .zip file, then select it and click <strong>Get Conversation</strong></li>
                                <li>The chat can now be viewed. Using the <strong>To & From</strong> dates and times or the <strong>Keyword</strong> search bar will allow you to filter the mesages.</li>
                                <li>To save the chat as a PDF, use ctrl+P, select <strong>Save to PDF</strong> as the destination. Ensure that you have <strong>Print Background</strong> checkbox ticked to maintain the correct formatting.</li>
                            </ol>
                        </p>
                        <form enctype="multipart/form-data" method="post" action="#">
                            <div class="form-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="form_file_field">
                                    <label class="custom-file-label">Choose file</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <center>
                                <input type="submit" class="btn btn-success" id="submit_button" value="Get Conversation" style="background-color:#018657;">
                                <p><input type="checkbox" id="DDMMYY" name="DDMMYY" >Parse as DD/MM/YY ?</p>
                                </center>
                            </div>
                        </form>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row" id="whatsapp-conversation">
        <div class="col-md-12" id="chat"></div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"  crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jMinEmoji2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/linkify.min.js') }}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{url_for('static', filename='js/howler.min.js')}}"></script> <!-- new line -->

{% if data['is_prod'] %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-57220954-4"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-57220954-4');
    </script>
{% endif %}
{% if error_message is defined %}
    <script>
    show_error_message("{{ error_message }}");
    </script>
{% endif %}
</div>
</body>
<script>
    var searchInput = document.getElementById("search-item");
    searchInput.addEventListener("keypress", function(event){
        if(event.key === "Enter"){
            event.preventDefault();
            document.getElementById("submit-item").click();
        }
    });
    function showAll() {
        btn = 'selected'
        show_all = $('li.show-all')
        show_selected = $('li.show-selected')
        show_selected.show();
        show_all.hide();
        $('#chat').children().each(function(_, item){
            $(item).show() 
        })
    }
    function makeChanges()
    {
        let constraintsMet = {}
        $('#chat').children().hide()
        let fromDate = new Date($('#from-cal').val());
        if($('#from-cal').val() == '')
        {
            fromDate = 0
        }
        let toDate = new Date($('#to-cal').val());
        if($('#to-cal').val() == '')
        {
            toDate = Infinity
        }
        $('#chat').children().each(function(_, item){
            if(new Date($($(item).children()[5]).text())>=fromDate && new Date($($(item).children()[5]).text())<=toDate && $($(item).children()[1]).text().toLowerCase().indexOf($('#search-item').val().toLowerCase()) != -1)
            {
                $(item).show()
            }
        })
    }

    function showSelected()
    {
        let i = 0;
        btn = 'all';
        show_all = $('li.show-all')
        show_selected = $('li.show-selected')
        show_selected.hide();
        show_all.show();
        $('#chat').children().each(function(_, item){
            if($(document.getElementById("c"+i)).is(':checked'))
            {
                $(item).show()
            }
            else
            {
                $(item).hide()
            }
            i++;
        })
    }

    function MakeChangesForName()
    {
        let arr = $('#user-list').children();
        let size = arr.length-1;
        
        for(var j = 0; j < size; j++)
        {
            let inp = $('.'+j)[0]
            console.log(inp)
            if($('#p'+j).prop('checked'))
            {
                $(".selectedUserSpan").hide()
                $('#selectedUser'+j).show()
                jQuery('.aloo').removeClass("alternate-user");
                $('.user'+j).addClass("alternate-user")
            }
            let tags = document.querySelectorAll('.u'+j);
            for (let i = 0; i < tags.length; i++)
            {
                if(inp.value!="")
                {
                    tags[i].innerHTML = " ("+inp.value+") "; 
                }
                else
                {
                    tags[i].innerHTML = ""; 
                }
                    
            }
        }
    }

</script>
</html>
